@import "variables";
@import "mixins";



.footer-wrapper{
    width: 100%;
    margin-top: 1em;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(222, 234, 234);
&__box{
    text-align: center;
    padding: 2em;
}

}