@import "variables";
@import "mixins";

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 50px;
        @include desktop {
            width: 100%;
        }
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .main-menu {
            background-color: #f4dddd;
            position: absolute;
            top: 0;
            left: -200%;
            transition: all .4s linear; 
            width: 60%;
            height: 100%;
            z-index: 5;
            padding: 30px;
            @include desktop {
                position: static;
                width: 60%;
                height: auto;
                padding: 0;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;
                @include desktop {
                    flex-direction: row;
                }
                li {
                    list-style: none;
                }
            }
        }
        .show {
            transition: all .2s linear; 
            left: 0;
        }
        .menu-icon {
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: 30px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            @include desktop {
                display: none;
            }
        }
        .menu-icon:hover {
            background-color: rgb(201, 201, 201);
            cursor: pointer;
        }

        .nav-wrapper {
            visibility: hidden;
            position: absolute;
            font-size: 30px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: .3;
            .close-icon {
                z-index: 5;
                position: absolute;
                top: 30px;
                right: 30px;
                font-size: 30px;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                @include desktop {
                    display: none;
                }
            }
            .close-icon:hover {
                background-color: rgb(201, 201, 201);
                cursor: pointer;
            }
        }
        .show-wrapper {
            visibility: visible;
            transition: all 1s linear;
        }
    }
    .search-form {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        label {
            width: 80%;
        }
        input {
            height: 30px;
            border-radius: 15px;
            border: none;
            padding: 0 10px;
        }
        .search-field{
            width: 100%;
        }
        .search-submit{
            width: 20%;
        }
        @include desktop {
            flex: 1;
            max-width: 500px;
        }
    }
}