@import "variables";
@import "mixins";

button{
    border-radius: 5%;
.button {
   
    &:hover {
        box-shadow: 0px 0px 20px 8px $lighting;
    }
}
select {
        background-color: $btnBorder !important;
        border: 2px dotted rgb(249, 226, 249) !important;
        color: aliceblue !important;
        border-radius: 8% !important;
        padding: 10px !important;
}
.added_to_cart{
    display:none;
}
}
.woocommerce-ordering{
    select {
        background-color: $btnBorder !important;
        border: 2px dotted rgb(249, 226, 249) !important;
        color: aliceblue !important;
        border-radius: 8% !important;
        padding: 10px !important;
    }
}
