@import "variables";
@import "mixins";
.contact {
    article {
        div {
            display: flex;
            justify-content: center;
            form {
                width: 100%;
                @include tablet {
                    width: 50%;
                }
                @include desktop {
                    width: 40%;
                }
                * {
                    width: 100%;
                }
                input[type="submit"] {
                    width: auto;
                }
            }
        }
    }
}


.contact-section{
    input{
        background-color: $inputBg;
        border-radius: 5px;
    }
    input:focus{
        background-color: $inputBg;
        border-radius: 5px;
    }
    textarea{
        background-color: $inputBg;
        border-radius: 5px;

    }
    textarea:focus{
        background-color: $inputBg;
        border-radius: 5px;
    }
}