@import "variables";
@import "mixins";

.content-page{
    width: 100%;
    outline: 10px solid red;

    @include tablet{
        article{
            display:flex;
            width: 100%;
                &__left{
                width: 100%;

                &__content{
                    width: 49%;
                    height: auto;
                    margin:1em;
                }
                &__img{
                    width: 100px;
                    height: auto;
                    margin:1em;
                }
            }
            &__right{
                width: 100%;

                &__content{
                    width: 49%;
                    height: auto;
                    margin:1em;
                }
                &__img{
                    width: 100px;
                    height: auto;
                    margin:1em;
                }

            }
        }
    }}
