@import "variables";
@import "mixins";

.home-page {
    height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: #b389a00f;
    box-shadow: 0 4px 8px 0 $btnBorder, 0 6px 20px 0 rgba(246, 169, 169, 0.19);
    border-radius: 5px;

    padding: 1.4em;
    @include tablet{
        padding: 0px;
        &__image {
            
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 #b389a0, 0 6px 20px 0 rgba(246, 169, 169, 0.19);
            img {
                width: 100%;
                height: auto;
                object-position: center;
                
            }
        }
            &__text {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 1rem;
                gap: 1rem;
                position: absolute;
                top: 50%;
                left: 50%;
                color: $offwhite;
                transform: translate(-50%, -50%);
                
        
            
        }
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        .home-button {
            background-color: $btnBg;
            border-color: $btnBorder;
            color: $btnText;
            border-radius: 8%;
            padding: 1rem 2rem;
            &:hover {
                box-shadow: 0px 0px 20px 8px $lighting;
            }
        }
    }
}
.content-area{
.content-page{
    width: 100%;
    height:100%;

    
        article{
            width: 100%;
            height:auto;
            
                &__left{
                    display:flex;
                    width: 100%;
                    padding: 2em;
                    width: 100%;
                     width: 100%;

                &__content{
                    width: 49%;
                    height: auto;
                    margin:1em;
                }
              
            }
            &__right{
                display:flex;
                width: 100%;
                padding: 2em;
                width: 100%;
                width: 100%;

                &__content{
                    width: 49%;
                    height: auto;
                    margin:1em;
                }
                &__img{
                    max-width: 100px;
                    max-height: 200px;
                    margin:1em;
                }

            }
        }
    }}
