@import "variables";
@import "mixins";

.stores {
    .store-single {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(0,0,0,.05);
        padding: 2rem 0;
        @include tablet {
            flex-direction: row;
        }
        h2 {
            width: 100%;
        }
        .store-meta {
            width: 100%;
            i{
                padding-right: 10px;
            }
            @include tablet {
                width: 50%;
            }
        }
        .store-image {
            width: 100%;
            width: 300px;
            
            @include tablet {
                width: 400px;
            }
            img {
                height: auto;
                border-radius: 10px;
                box-shadow: 0 4px 10px 0 $boxShadow, 0 6px 20px 0 $bg;
            }
        }
    }
}