@import "variables";
@import "mixins";

.team-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   

    &__container{
        width: 95%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 $boxShadow, 0 6px 20px 0 rgba(246, 169, 169, 0.19);
        border-radius: 10px;
        margin-bottom: 5em;
        text-align: center;
        padding: 3em;
        border: 8px dotted rgba(241, 192, 255, 0.207);
        @include tablet{
            flex-direction: row;
            &__text{
                width: 60%;
            }
            &__img{
                width: 34%
            }
        }

    }
}