$bg: #f4dddd;
$messageBg: rgb(192, 137, 146);
$offwhite: rgb(249, 243, 249);
$btnBg: #eedee4;
$btnBorder: #edced9;
$btnText: #945d70;
$lighting: #edf3f5;
$pink: #ea8bae;


//Sizes

$desktop: 1200px;
$tablet: 700px;