$bg: #f4dddd;
$messageBg: rgb(192, 137, 146);
$bg-two: #fff4f5;
$offwhite: rgb(249, 243, 249);
$btnBg: #eedee4;
$btnBorder: #edced9;
$btnText: #945d70;
$lighting: #edf3f5;
$pink: #ea8bae;
$boxShadow: #b389a0;
$inputBg: #f6e2e9;
$darkp:#75465d;

//Sizes

$desktop: 1200px;
$tablet: 768px;